@import url('https://fonts.googleapis.com/css2?family=${formattedFontName}&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-black text-white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-900 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-800;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}